*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
overflow:hidden;
}

/* layout */
.scene{
display:flex;
gap:50px;
align-items:center;
}

/* CLOCK */
.clock{
width:420px;
height:420px;
border:2px solid #fff;
border-radius:50%;
position:relative;
}

/* SPIDER */
.spider{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:60px;
}

/* HANDS */
.hand{
position:absolute;
top:50%;
left:50%;
transform-origin:bottom;
background:#b026ff;
}

.hour{
width:6px;
height:90px;
}

.minute{
width:4px;
height:120px;
background:#8be9fd;
}

.second{
width:2px;
height:150px;
background:#fff;
}

/* GEARS */
.gear{
position:absolute;
border:2px solid #b026ff;
border-radius:50%;
animation:spin 6s linear infinite;
opacity:0.7;
}

.g1{width:120px;height:120px;top:10px;left:10px;}
.g2{width:90px;height:90px;top:20px;right:20px;}
.g3{width:140px;height:140px;bottom:10px;right:10px;}
.g4{width:100px;height:100px;bottom:20px;left:20px;}

@keyframes spin{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

/* CODE BOX */
.code{
width:280px;
height:180px;
border:1px solid #fff;
color:#8be9fd;
padding:10px;
font-size:14px;
}

/* SIGNATURE */
.signature{
position:fixed;
bottom:10px;
left:50%;
transform:translateX(-50%);
color:#b026ff;
letter-spacing:10px;
text-shadow:0 0 10px #b026ff;
}
