*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
font-family:Arial;
}

/* CENTER WRAPPER */
.scene{
display:flex;
gap:60px;
align-items:center;
}

/* CLOCK */
.clock{
width:420px;
height:420px;
border:2px solid #b026ff;
border-radius:50%;
position:relative;
}

/* SPIDER CENTER */
.spider{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:60px;
}

/* HANDS */
.hand{
position:absolute;
top:50%;
left:50%;
transform-origin:bottom;
}

.hour{
width:6px;
height:90px;
background:#b026ff;
}

.minute{
width:4px;
height:120px;
background:#8be9fd;
}

.second{
width:2px;
height:150px;
background:white;
}

/* GEARS */
.gear{
position:absolute;
width:120px;
height:120px;
border:2px solid #b026ff;
border-radius:50%;
top:50%;
left:50%;
transform:translate(-50%,-50%);
animation:spin 6s linear infinite;
opacity:0.5;
}

@keyframes spin{
from{transform:translate(-50%,-50%) rotate(0deg);}
to{transform:translate(-50%,-50%) rotate(360deg);}
}

/* CODE BOX */
.code{
width:250px;
height:180px;
border:1px solid #fff;
color:#8be9fd;
padding:10px;
}

/* SIGN */
.signature{
position:fixed;
bottom:10px;
left:50%;
transform:translateX(-50%);
color:#b026ff;
letter-spacing:10px;
}
